.header{
    background: var(--gray-700);
    height: 200px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.25rem;
    
}

.header img {
    height: 2.25rem;
    margin-right: 10px;
}

.header strong {
    font-size: 2.5rem;
    color: var(--blue);
    margin-top: calc(0px - 0.2rem - 6px);
    

}

.header strong span {
    color: var(--purple-dark);
}
